version: '3.6'
services:
  gitlab:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    hostname: 'localhost'
    container_name: gitlab-local
    ports:
      - "8080:80"
      - "8443:443"
      - "8022:22"
    volumes:
      - ./config:/etc/gitlab
      - ./logs:/var/log/gitlab
      - ./data:/var/opt/gitlab

